<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DemoConnection" connectionString="User ID=demo;Password=demo;Initial Catalog=BaseCourse;Data Source=localhost"/>
    <add name="Mikz.Content" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Mikz_3_0_Original;Data Source=localhost" />
    <!--<add name="DemoConnection" connectionString="Data Source=10.87.57.70;Initial Catalog=Mikz_3_0;User ID=MembershipAdmin;Password=_AdminMembership" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->

  </connectionStrings>
</configuration>