<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DemoConnection" connectionString="User ID=demo;Password=demo;Initial Catalog=BaseCourse;Data Source=localhost"/>
  </connectionStrings>
</configuration>