
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>
</head>
<body>
<div><p>Current time</p></div>
<div><p>Message: @ViewData["data"]</p></div>
<div><p>Message: @ViewBag.data</p></div>
<div><p>@DateTime.Now</p></div>

</body>
</html>
