
@{
    Layout = null;
}

<!DOCTYPE html>
@model Models.Models.Student
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student</title>
</head>
<body>
<div><p>name: @Model.Name</p></div>
<div><p>BirthDate: @Model.BirthDate</p></div>
<div><p>Email: @Model.Email</p></div>
</body>
</html>
